{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{thing.title}}
{% endblock page_title %}


{% block json-ld %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ thing.title }}",
      "image": "",
      "description": "{{ thing.description }}",
      "offers": {
        "@type": "Offer",
        "url": "{{ thing.get_absolute_url }}",
        "priceCurrency": "EUR",
        "price": "{{ thing.price }}",
        "availability": "https://schema.org/InStock",
        "itemCondition": "https://schema.org/UsedCondition",
      }
    }
  </script>
{% endblock json-ld %}


{% block content %}

    {{thing.title}}\{{thing.description}}

{% endblock %}
